<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Application Submitted</title>
        {% include 'bootstrap.html' %}
    </head>
    <body>
        {% include 'navbar.html' %}
    <div class="container">  
        <h1 class="text-center mt-2 mb-4">Pranav Consultancy</h1>  
        <p> Your application for {{job['title']}} has been submitted!</p>
        <h4>Full Name</h4>
        <div class="mb-2">{{application['full_name']}}</div>
        
        <h4>Email</h4>
        <div class="mb-2">{{application['email']}}</div>

        <h4>LinkedIn</h4>
        <div class="mb-2">{{application['linkedin_url']}}</div>

        <h4>Education</h4>
        <div class="mb-2">{{application['education']}}</div>

        <h4>Work Experience</h4>
        <div class="mb-2">{{application['work_experience']}}</div>

        <h4>Resume</h4>
        <div class="mb-2">{{application['resume_url']}}</div>
    </div>
        {% include 'footer.html' %}
    <script src="" async defer></script>
    </body>
</html>